# ignore all files in the following directory
_build_lpc40xx_freertos/
_build_mp3_decoder
.vscode/
site_scons/
compiler/
doc/
installs/
nxp-programmer/
test/

#ignore
*.dblite
SConscript
SConstruct
README-SCons.md
README-GETTING-STARTED.md
env_arm
windows_cmdline.bat